html
  head
    title #{name} - Stream (WSS)
    script(src='https://cdn.bootcss.com/flv.js/1.4.0/flv.min.js')
  body(style='margin:0;')
    video(controls, id='#videoElement', style='background-color: #000;position:absolute;top:0;left:0;width:100%;height:100%;')
    script
      include js/wss.js
