html { height: 100%; }

body {
  font-family: 'Open Sans';
  background-color: #323135 !important;
  position: relative;

}

h1 {
  margin-top:-7px;
  font-size:60px !important;
  font-weight:400;
  margin-bottom:-10px;
}

h2 {

}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ffffff85 !important;
  margin: 1em 0;
  padding: 0;
}

.card {
  color: #000;
  padding: 10px;
}

a:hover {
  text-decoration: none !important;
}

.btn-custom1 {
  color: #000000;
  background-color: #f7f7f7;
}
.streamoptions a {
  font-size: 13px !important;
  color: #af2914 !important;
  font-weight: 500;
}

.main {
  margin-top:200px;
}

.streams {
  padding: 0;
  background: #fff;
  border-radius: .25rem;
  color: #000;
  padding: 20px 30px 20px 30px
}

.streams li {
  list-style: none;
  display: inline-block;
  margin-right:40px;
  padding: 0;
}

.streams li a {
  color: #000;
  font-size:26px;

}

ul.streams .fa  {
  font-size:18px !important;
}

.streamstats {
  font-size:14px;
}

code {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #dedede !important;
  background-color: #2d2d2d;
  border-radius: .25rem;
  font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

@media screen and (max-width: 767px) {
  h1    { font-size:45 !important;    }
  p     { font-size:17px;             }
  .main { margin-top: 20px;           }
}

.table {
  background-color: #212529 !important;
  font-size:20px;
}

.footable-details {
  font-size:13px !important;
}
